*{
    margin: 0; 
    padding: 0;
} 

.grid-conteiner{  
   width: 100%; 
   margin: 0 auto;
    display: grid; 
    background-color: #E8F9FD; 
    grid-template-rows: 180px 600px 150px 300px 300px;
    grid-template-columns: 1fr;  
    grid-template-areas:  
    "navbar" 
    "imagen" 
    "div"
    " section" 
    "footer"
    ;


}

.header1{ 
    background-color: #B1D0E0; 
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    display: flex;
    
    position: sticky;
    top: 0;
    z-index: 1020; 
    grid-area: navbar; 
    
}  


.titulo1{ 
    color: #E8F9FD;
    font-size: 40px;  
    padding-left: 40px; 
    
    
    
} 
.color-boton{ 
    background-color: #E8F9FD ; 
    display: flex; 
    

}
.nav1{ 
    
    display: flex;
   align-items: center;
    
}

.lista1{ 
    
    justify-content: flex-end; 
    font-size: 23px; 
    padding-left: 190px; 
    
}  

.lista1 li{ 
   
    padding-left: 70px;
    
} 

.lista1 li a{ 
    color: #E8F9FD;
} 

a{ 
    
    text-decoration:none;
  }  

.div1{ 
    
    
    width: 100%; 
    height: 100%;
    grid-area: imagen;
}  
   
.img1{ 
    width: 100%; 
    height: 100%;
    
} 

.div2{ 
    background-color: #B1D0E0;
    color: #035397;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    font-size: 23px;
    grid-area: div; 
    
}
.section1{ 
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 40px;
     
    grid-area: section; 
    

}  

/* .footer1{ 
    background-color: #6998AB ; 
    color: #E8F9FD;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    padding: 0 20px; 
    font-size: 20px;
    grid-area: footer;
}  

.footer-nav{ 
    width: 30%; 
    margin-right: auto;
    margin-left: auto;
} 

.footer-lista{ 
    list-style: none; 
    display: flex; 
    justify-content: space-around;
} 

.footer-div{ 
    font-size: 30px;
    padding-left: 20px; 
    margin-right: auto;
    margin-left: auto;
} */ 

footer{ 
    background-color: #6998AB; 
    grid-area: footer;
}
footer .titulo-footer { 
    color: #E8F9FD; 
    display: flex; 
    justify-content: center; 
    font-size: 60px; 
    padding: 15px;
} 

footer .copy { 
    color: #E8F9FD; 
    display: flex; 
    justify-content: center; 
    padding: 15px;
    
} 
.redes-sociales{ 
    display: flex; 
    justify-content: center;
} 
.redes-sociales i{ 
    font-size: 40px; 
    padding: 40px 20px; 
    color: #E8F9FD;
}

.grid-conteiner-1{  
    width: 100%; 
    margin: 0 auto;
    display: grid; 
     grid-template-rows: 180px 600px 550px 200px;
     grid-template-columns: 1fr;  
     grid-template-areas:  
     "navbar" 
     "imagen" 
     " section" 
     "footer"
     ;
 
 
 }

.div3{ 
    border: solid 4px #B7CADB;
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px; 
    grid-area: imagen; 
}

.img2{ 
    width: 100%;
     height: 100%;
} 

.sections2{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-right: 80px; 
    margin-left: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 40px;
    grid-area: section;
} 

.section3{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 800px;
    padding: 40px 100px 40px 100px;
} 

.div4{ 
    border: solid 4px #B7CADB; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px; 
    height: 400px;
}


.img3{ 
    width: 100%; 
    height: 100%;
} 
/* seccion  */
.section4{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px;
    padding: 40px 100px 40px 100px;
}  

.div5{ 
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px;
    
} 

.section5{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px;
    padding: 40px 100px 40px 100px;
} 

@media (max-width: 576px) {
    
     .footer1{
        flex-direction:column;
        align-items:center; } 
        
     
     .grid-conteiner{ 
        
        grid-template-rows: 180px 300px 150px 400px 200px;
     }
     .grid-conteiner-1{ 
        grid-template-rows: 420px 500px 1150px 200px;

     }  
     .div3{ 
        margin-right: 0px; 
        margin-left: 0px;
     } 
     .sections2{ 
        margin-right: 0px; 
        margin-left: 0px;
     }
    

    }

    
    
   
    

   @media (min-width: 576px) and (max-width: 992px) {
       
        .footer1{
        flex-direction:column;
        align-items:center; }
         .grid-conteiner{ 
        
            grid-template-rows: 420px 500px 150px 400px 200px;
            
          }
         .grid-conteiner-1{  
            
            grid-template-rows: 420px 500px 750px 200px;

         
            }  
            .div3{ 
                margin-right: 20px; 
                margin-left: 20px;
             } 
             .sections2{ 
                margin-right: 20px; 
                margin-left: 20px;
             }
        }  
       
       
       