*{
    margin: 0; 
    padding: 0;
} 

.grid-conteiner{  
   width: 100%; 
   margin: 0 auto;
    display: grid; 
    grid-template-rows: 180px 600px 150px 300px 200px;
    grid-template-columns: 1fr;  
    grid-template-areas:  
    "navbar" 
    "imagen" 
    "div"
    " section" 
    "footer"
    ;


}

.header1{ 
    background-color: #B7CADB ; 
    align-items: center; 
    padding-left: 40px;
    display: flex; 
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    grid-area: navbar; 
    
} 

    



.titulo1{ 
    color: #035397;
    font-size: 40px; 
    
    
    
}
.nav1{ 
    color: #035397;
    display:flex;
    padding:5px;
    
}

.lista1{ 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
   
    
}  
.lista1 li{ 
    display: flex; 
    margin: 10px;
    list-style: none;
    font-size: 23px;
    padding-left: 70px;  
    
} 
a{
    text-decoration:none;
  }  

.div1{ 
    
    
    width: 100%; 
    height: 100%;
    grid-area: imagen;
}  
   
.img1{ 
    width: 100%; 
    height: 100%;
    
} 

.div2{ 
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(183,202,219,1) 42%, rgba(183,202,219,1) 97%);
    color: #035397;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    font-size: 23px;
    grid-area: div; 
    
}
.section1{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 40px;
     
    grid-area: section; 
    

}  

.footer1{ 
    background-color: #B7CADB ; 
    color: #035397;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px; 
    font-size: 20px;
    grid-area: footer;
}  

.footer-nav{ 
    width: 30%;
} 

.footer-lista{ 
    list-style: none; 
    display: flex; 
    justify-content: space-around;
} 

.footer-div{ 
    font-size: 30px;
    padding-left: 20px;
}

.grid-conteiner-1{  
    width: 100%; 
    margin: 0 auto;
    display: grid; 
     grid-template-rows: 180px 600px 550px 200px;
     grid-template-columns: 1fr;  
     grid-template-areas:  
     "navbar" 
     "imagen" 
     " section" 
     "footer"
     ;
 
 
 }

.div3{ 
    border: solid 4px #B7CADB;
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px; 
    grid-area: imagen; 
}

.img2{ 
    width: 100%;
     height: 100%;
} 

.sections2{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-right: 80px; 
    margin-left: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 40px;
    grid-area: section;
} 

.section3{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 800px;
    padding: 40px 100px 40px 100px;
} 

.div4{ 
    border: solid 4px #B7CADB; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px; 
    height: 400px;
}


.img3{ 
    width: 100%; 
    height: 100%;
} 
/* seccion  */
.section4{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px;
    padding: 40px 100px 40px 100px;
}  

.div5{ 
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px;
    
} 

.section5{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px;
    padding: 40px 100px 40px 100px;
} 

@media (max-width: 576px) {
    
    .header1, .nav1, .lista1, .footer1{
        flex-direction:column;
        align-items:center; }
     
     .grid-conteiner{ 
        
        grid-template-rows: 420px 500px 150px 600px 200px;
     }
     .grid-conteiner-1{ 
        grid-template-rows: 420px 500px 1150px 200px;

     }  
     .div3{ 
        margin-right: 0px; 
        margin-left: 0px;
     } 
     .sections2{ 
        margin-right: 0px; 
        margin-left: 0px;
     }
    

    }

    
    
   
    

   @media (min-width: 576px) and (max-width: 992px) {
       
       .header1, .nav1, .lista1, .footer1{
        flex-direction:column;
        align-items:center; }
         .grid-conteiner{ 
        
            grid-template-rows: 420px 500px 150px 400px 200px;
            
          }
         .grid-conteiner-1{  
            
            grid-template-rows: 420px 500px 750px 200px;

         
            }  
            .div3{ 
                margin-right: 20px; 
                margin-left: 20px;
             } 
             .sections2{ 
                margin-right: 20px; 
                margin-left: 20px;
             }
        }  
       
       
       