*{
    margin: 0; 
    padding: 0; 
 ;
} 

.grid-conteiner{  
   width: 100%; 
   margin: 0 auto;
    display: grid; 
    background-color: #E8F9FD; 
    grid-template-rows: 180px 600px 150px 300px 300px;
    grid-template-columns: 1fr;  
    grid-template-areas:  
    "navbar" 
    "imagen" 
    "div"
    " section" 
    "footer"
    ;


}

.header1{ 
    background-color: #B1D0E0; 
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    display: flex;
    
    position: sticky;
    top: 0;
    z-index: 1020; 
    grid-area: navbar; 
    
}  


.titulo1{ 
    color: #E8F9FD;
    font-size: 40px;  
    padding-left: 40px; 
    
    
    
} 
.color-boton{ 
    background-color: #E8F9FD ; 
    display: flex; 
    

}
.nav1{ 
    
    display: flex;
   align-items: center;
    
}

.lista1{ 
    
    justify-content: flex-end; 
    font-size: 23px; 
    padding-left: 140px; 
    
}  

.lista1 li{ 
   
    padding-left: 70px;
    
} 

.lista1 li a{ 
    color: #E8F9FD;
} 

a{ 
    
    text-decoration:none;
  }  

.div1{ 
    
    
    width: 100%; 
    height: 100%;
    grid-area: imagen;
}  
   
.img1{ 
    width: 100%; 
    height: 100%;
    
} 

.div2{ 
    background-color: #B1D0E0;
    color: #035397;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    font-size: 23px;
    grid-area: div; 
    
}
.section1{ 
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 40px;
     
    grid-area: section; 
    

}  

/* .footer1{ 
    background-color: #6998AB ; 
    color: #E8F9FD;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    padding: 0 20px; 
    font-size: 20px;
    grid-area: footer;
}  

.footer-nav{ 
    width: 30%; 
    margin-right: auto;
    margin-left: auto;
} 

.footer-lista{ 
    list-style: none; 
    display: flex; 
    justify-content: space-around;
} 

.footer-div{ 
    font-size: 30px;
    padding-left: 20px; 
    margin-right: auto;
    margin-left: auto;
} */ 

footer{ 
    background-color: #6998AB; 
    grid-area: footer;
}
footer .titulo-footer { 
    color: #E8F9FD; 
    display: flex; 
    justify-content: center; 
    font-size: 60px; 
    padding: 15px;
} 

footer .copy { 
    color: #E8F9FD; 
    display: flex; 
    justify-content: center; 
    padding: 15px;
    
} 
.redes-sociales{ 
    display: flex; 
    justify-content: center;
} 
.redes-sociales i{ 
    font-size: 40px; 
    padding: 40px 20px; 
    color: #E8F9FD;
}

.grid-conteiner-1{  
    width: 100%; 
    margin: 0 auto;
    display: grid; 
     grid-template-rows: 180px 600px 550px 200px;
     grid-template-columns: 1fr;  
     grid-template-areas:  
     "navbar" 
     "imagen" 
     " section" 
     "footer"
     ;
 
 
 }

.div3{ 
    border: solid 4px #B7CADB;
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px; 
    grid-area: imagen; 
}

.img2{ 
    width: 100%;
     height: 100%;
} 

.sections2{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-right: 80px; 
    margin-left: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 40px;
    grid-area: section;
} 

.section3{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 800px;
    padding: 40px 100px 40px 100px;
} 

.div4{ 
    border: solid 4px #B7CADB; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px; 
    height: 400px;
}


.img3{ 
    width: 100%; 
    height: 100%;
} 
/* seccion  */
.section4{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px;
    padding: 40px 100px 40px 100px;
}  

.div5{ 
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px;
    
} 

.section5{ 
    border: solid 4px #B7CADB ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 80px; 
    margin-left: 80px;
    padding: 40px 100px 40px 100px;
} 

 
        
        /* FORMULARIO */  
        .grid-conteiner5{  
            width: 100%; 
            margin: 0 auto;
             display: grid; 
             background-color: #E8F9FD; 
             grid-template-rows: 180px 1360px 315px;
             grid-template-columns: 1fr;  
             grid-template-areas:  
             "navbar" 
             "principal" 
              "footer"
             ;
            }  
    
        .formContainer {
            background-color: #6998AB;
            width: 80%;
            margin: 30px auto;
            padding: 30px 20px;
            border-radius: 30px;
            box-shadow: 12px 12px 43px #E8F9FD; 
            
           
            
        } 
        .formContainer__title {
            font-size: 1.8rem;
            font-weight: 600; 
            color: #E8F9FD;
            margin: 0.5rem;
            margin-bottom: 1rem;
            width: auto; 
            
        } 
        .formContainer__p {
            text-align: center; 
            color: #E8F9FD;
            margin: 0.5rem;
            margin-bottom: 1rem;
            width: auto; 
            font-size: 1.2rem; 
            text-align: center;
            

        }  
        .formContainer .form {
            text-align: center;
        } 
        .formContainer .form .form__label {
            color: #E8F9FD;
            font-weight: 600;
            font-size: 1.2rem;
            text-align: left;
            display: inline-block;
            width: 60%;
        }
       
        .formContainer .form .form__input {
            width: 60%;
            margin: 0.5rem;
            padding: 0.5rem;
            border: 2px solid #E8F9FD;
            border-radius: 5px;
            outline: none;
            resize: none;
            font-size: 16px;
            background-color: #E8F9FD; 

        } 
        .formContainer .form .form__textarea {
            width: 60%;
            margin: 0.5rem;
            padding: 0.5rem;
            border: 2px solid #E8F9FD;
            border-radius: 5px;
            outline: none;
            resize: none;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            background-color: #E8F9FD;
        } 
        .formContainer .map {
            margin-top: 2rem;
            width: 100%;
            height: 20rem;
            border-radius: 5px;
        } 


        /* TORNEOS */  
        .grid-conteiner3{  
            width: 100%; 
            margin: 0 auto;
             display: grid; 
             background-color: #E8F9FD; 
             grid-template-rows: 180px 1100px 315px;
             grid-template-columns: 1fr;  
             grid-template-areas:  
             "navbar" 
             "principal" 
              "footer"
             ;
            }  
            .principal{ 
                grid-area: principal;
            }

        .h1__principal {
            font-size: 2rem;
            text-align: justify;
            margin: 1.5rem auto;
            width: 80%; 
             
        } 

        p {
            text-align: justify;
            font-size: 1.2rem;
            color: #000;
            margin: 1.5rem auto;
            width: 80%; 
            
            

        } 

        .h2-torneos {
            font-size: 1.6rem;
            text-align: justify;
            color: #000;
            margin: 1.5rem auto;
            width: 80%; 
            
        } 

        .sectionCards .card {
            align-items: center;
            background-color: #6998AB;
            margin: 40px auto 40px auto;
            transition: transform 0.5s;
            box-shadow: 0 5px 10px #b5b5b5; 
            
                        
 
        }  

        .h3-torneo { 
            text-align: center; 
            

        } 
        
       

        
       

        /* ESCUELA */  
        .grid-conteiner4{  
            width: 100%; 
            margin: 0 auto;
             display: grid; 
             background-color: #E8F9FD; 
             grid-template-rows: 180px 1200px 315px;
             grid-template-columns: 1fr;  
             grid-template-areas:  
             "navbar" 
             "principal" 
              "footer"
             ;
            }  

        .section-escuela{ 
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        } 

        .titulos-escuela{ 
            font-size: 2rem;
            text-align: justify;
            margin: 1.5rem auto;
            width: 80%;
        } 

        .p-escuela{ 
            text-align: justify;
            font-size: 1.2rem;
            margin: 1.5rem auto;
            width: 80%;
        } 
        @media (max-width: 576px) {
    
            .footer1{
               flex-direction:column;
               align-items:center; } 
               
            
            .grid-conteiner{ 
               
               grid-template-rows: 180px 300px 150px 400px 200px;
            }
            .grid-conteiner-1{ 
               grid-template-rows: 420px 500px 1150px 200px;
       
            }  
            .grid-conteiner3{ 
               grid-template-rows: 180px 1500px 315px;
       
           }  
           .grid-conteiner4{ 
               grid-template-rows: 180px 1700px 315px;
       
           } 
           .grid-conteiner5{ 
               grid-template-rows: 180px 1500px 315px;
           }
           
            .div3{ 
               margin-right: 0px; 
               margin-left: 0px;
            } 
            .sections2{ 
               margin-right: 0px; 
               margin-left: 0px;
            }
           
       
           }
       
           
           
          
           
       
          @media (min-width: 576px) and (max-width: 992px) {
              
               .footer1{
               flex-direction:column;
               align-items:center; }
                .grid-conteiner{ 
               
                   grid-template-rows: 420px 500px 150px 400px 200px;
                   
                 }
                .grid-conteiner-1{  
                   
                   grid-template-rows: 420px 500px 750px 200px;
       
                
                   }  
                   .grid-conteiner3{ 
                       grid-template-rows: 180px 1300px 315px;
       
                   }  
                   .grid-conteiner4{ 
                       grid-template-rows: 180px 1700px 315px;
              
                   } 
                   .grid-conteiner5{ 
                       grid-template-rows: 180px 1360px 315px;
                   }
                   .div3{ 
                       margin-right: 20px; 
                       margin-left: 20px;
                    } 
                    .sections2{ 
                       margin-right: 20px; 
                       margin-left: 20px;
                    }
               }   
        
        

      
        
       
       
       