* {
  margin: 0;
  padding: 0;
}

a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}

.grid-conteiner {
  width: 100%;
  margin: 0 auto;
  display: grid;
  background-color: #E8F9FD;
  grid-template-rows: 180px 600px 150px 300px 300px;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar" "imagen" "div" " section" "footer";
}

.grid-conteiner-1 {
  width: 100%;
  margin: 0 auto;
  display: grid;
  background-color: #E8F9FD;
  grid-template-rows: 180px 600px 600px 300px;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar" "imagen" " section" "footer";
}

.grid-conteiner3 {
  width: 100%;
  margin: 0 auto;
  display: grid;
  background-color: #E8F9FD;
  grid-template-rows: 180px 1100px 315px;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar" "principal" "footer";
}

.grid-conteiner4 {
  width: 100%;
  margin: 0 auto;
  display: grid;
  background-color: #E8F9FD;
  grid-template-rows: 180px 1200px 315px;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar" "principal" "footer";
}

.grid-conteiner5 {
  width: 100%;
  margin: 0 auto;
  display: grid;
  background-color: #E8F9FD;
  grid-template-rows: 180px 1360px 315px;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar" "principal" "footer";
}

@media (max-width: 576px) {
  .header1 {
    position: none;
  }

  .grid-conteiner {
    grid-template-rows: 300px 300px 150px 650px 300px;
  }

  .grid-conteiner-1 {
    grid-template-rows: 300px 500px 1350px 300px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .footer1 {
    flex-direction: column;
    align-items: center;
  }

  .grid-conteiner {
    grid-template-rows: 300px 500px 150px 400px 300px;
  }

  .grid-conteiner-1 {
    grid-template-rows: 300px 500px 850px 300px;
  }
}
.sections2, .section1, .div2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header1 {
  background-color: #B1D0E0;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1020;
  grid-area: navbar;
}
.header1 .nav1 {
  color: #E8F9FD;
  display: flex;
  align-items: center;
}
.header1 .nav1 .titulo1 {
  color: #E8F9FD;
  font-size: 40px;
  padding-left: 40px;
}
.header1 .nav1 .color-boton {
  color: #E8F9FD;
}
.header1 .nav1 .lista1 {
  justify-content: flex-end;
  font-size: 23px;
  padding-left: 140px;
}
.header1 .nav1 .lista1 .lista1-li {
  padding-left: 70px;
}
.header1 .nav1 .lista1 .lista1-li .lista1-li-a {
  color: #E8F9FD;
}

@media (max-width: 576px) {
  .header1 {
    position: initial;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .header1 {
    position: initial;
  }
}
.div1 {
  width: 100%;
  height: 100%;
  grid-area: imagen;
}
.div1 .img1 {
  width: 100%;
  height: 100%;
}

.div3 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
  grid-area: imagen;
}
.div3 .img2 {
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  .div3 {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .div3 {
    margin-right: 20px;
    margin-left: 20px;
  }
}
.div2 {
  background-color: #B1D0E0;
  color: #035397;
  text-align: center;
  font-size: 35px;
  grid-area: div;
}

.section1 {
  height: 100%;
  padding: 0 40px;
  grid-area: section;
}
.section1 .texto-secundario {
  font-size: 20px;
}

.sections2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
  padding: 0 40px;
  grid-area: section;
}
.sections2 .texto-secundario {
  font-size: 20px;
}

@media (max-width: 576px) {
  .sections2 {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .sections2 {
    margin-right: 20px;
    margin-left: 20px;
  }
}
footer {
  background-color: #6998AB;
  grid-area: footer;
}
footer .titulo-footer {
  color: #E8F9FD;
  display: flex;
  justify-content: center;
  font-size: 60px;
  padding: 15px;
}
footer .copy {
  color: #E8F9FD;
  display: flex;
  justify-content: center;
  padding: 15px;
}
footer .redes-sociales {
  display: flex;
  justify-content: center;
}
footer .redes-sociales .redes-sociales-i {
  font-size: 40px;
  padding: 40px 20px;
  color: #E8F9FD;
}

.div2, .section1, .sections2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
