// Div titulo debajo de la imagen principal

.div2{ 
    background-color:$color-secundario ;
    color: #035397;
    @extend %flex2;
    text-align: center; 
    font-size: 35px;
    grid-area: div; 
    
}