// Footer general

.footer1{ 
    background-color: $bg-color-general ; 
    color: $color-secundario-letras;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    @extend %flex;
    padding: 0 20px; 
    font-size: 20px;
    grid-area: footer; 
    .footer-div{ 
        font-size: 30px;
        padding-left: 20px;
    } 
    
    .footer-nav{ 
        width: 30%; 
        text-decoration: none;
        .footer-lista{ 
            list-style: none; 
            display: flex; 
            justify-content: space-around; 
            

        }
    }
    

}
    
