// Footer general

footer{ 
    background-color: #6998AB; 
    grid-area: footer; 
    .titulo-footer{ 
        color: #E8F9FD; 
        display: flex; 
        justify-content: center; 
        font-size: 60px; 
        padding: 15px;
    } 
    .copy{ 
        color: #E8F9FD; 
        display: flex; 
        justify-content: center; 
        padding: 15px;
         
    } 
    .redes-sociales{ 
        display: flex; 
        justify-content: center; 
        .redes-sociales-i{ 
            font-size: 40px; 
            padding: 40px 20px; 
            color: #E8F9FD;
        }
    }
} 

    
