@import '../base/mapas'; 
@import '../base/extends';
@import '../base/mixin'; 
@import '../base/variables';

// Navbar general

.header1{ 
    background-color: map-get($navbar, bg-navbar);
    display: flex; 
    align-items: center; 
    position: sticky;
    top: 0;
    z-index: 1020;
    grid-area: navbar; 
    .nav1{ 
        color: map-get($navbar, color-letras );
        display:flex;
        align-items: center;
        .titulo1{ 
            color: $bg-color-general;
            font-size: map-get($navbar, tamaño-titulo ); 
            padding-left: map-get($navbar, padding-left );

        }  
        .color-boton{ 
            color: map-get($navbar, color-letras )

        }
        .lista1{ 
            justify-content: flex-end; 
            font-size: 23px; 
            padding-left: 190px;   
            
            .lista1-li{ 
                padding-left: 70px; 
                
                .lista1-li-a{ 
                    color: #E8F9FD;
                }
                
            }

        }
    } 
    
}


@media (max-width: 576px){ 
    .header1{ 
        position: initial;
        
    }
} 
@media (min-width: 576px) and (max-width: 992px) { 
    .header1{ 
        position: initial;
        
    }
}
