@import '../base/mapas'; 
@import '../base/extends';
@import '../base/mixin';
// Navbar general

.header1{ 
    background-color: map-get($navbar, bg-navbar);
    padding-left: map-get($navbar, padding-left ) ;
    @extend %flex;
    grid-area: navbar; 
    .nav1{ 
        color: map-get($navbar, color-letras );
        display:flex;
        padding:5px;
        .titulo1{ 
            color: $color-secundario-letras;
            font-size: map-get($navbar, tamaño-titulo );

        } 
        .lista1{ 
            @include lista(flex, flex-end, center); 
            
            .lista1-li{ 
                display: flex; 
                margin: map-get($navbar, margin-lista );
                list-style: map-get($navbar, list-style-lista  );
                font-size: map-get($navbar, tamaño-lista );
                padding-left: map-get($navbar, padding-left-lista ); 
                

            }

        }
    } 
    
}

