// Section texto de la pagina principal 


.section1{ 
    height: 100%; 
    @extend %flex2; 
    padding: 0 40px;
     
    grid-area: section; 
    .texto-secundario{
        font-size: 20px;

    }
} 

// Seccion texto de Nosotros 

.sections2{  
   
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-right: 80px; 
    margin-left: 80px; 
    @extend %flex2; 
    padding: 0 40px;
    grid-area: section; 
    .texto-secundario{
        font-size: 20px;

    }
}  

// seccion torneo 

.section-titulo{ 
     
        .h1__principal {
            font-size: 2rem;
            text-align: justify;
            margin: 1.5rem auto;
            width: 80%; 
             }
} 


 
@media (max-width: 576px){ 
    .sections2{ 
        margin-right: 0px; 
        margin-left: 0px;
     }
}

@media (min-width: 576px) and (max-width: 992px){ 
    .sections2{ 
        margin-right: 20px; 
        margin-left: 20px;
     }
}