@import '../base/variables';
*{
    margin: 0; 
    padding: 0;
}  

a{ 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-decoration: none;
} 


// Body Inicio 

.grid-conteiner{ 
    width: 100%; 
    margin: 0 auto;
     display: grid; 
     background-color: $bg-color-general;
     grid-template-rows: 180px 600px 150px 300px 300px;
     grid-template-columns: 1fr;  
     grid-template-areas:  
     "navbar" 
     "imagen" 
     "div"
     " section" 
     "footer"
     ;
} 



// Body Seccion Nosotros 

.grid-conteiner-1{  
    width: 100%; 
    margin: 0 auto;
    display: grid;  
    background-color: $bg-color-general;
    grid-template-rows: 180px 600px 600px 300px;
    grid-template-columns: 1fr;  
    grid-template-areas:  
    "navbar" 
    "imagen" 
    " section" 
    "footer"
    ;
} 

// media queri 
@media (max-width: 576px) {
    
    .header1{ 
        position: none;
    }
    .grid-conteiner{ 
       
       grid-template-rows: 300px 300px 150px 650px 300px;
    }
    .grid-conteiner-1{ 
       grid-template-rows: 300px 500px 1350px 300px;

    }  
    
   }

   
   
  
   

  @media (min-width: 576px) and (max-width: 992px) {
      
       .footer1{
       flex-direction:column;
       align-items:center; }
        .grid-conteiner{ 
       
           grid-template-rows: 300px 500px 150px 400px 300px;
           
         }
        .grid-conteiner-1{  
           
           grid-template-rows: 300px 500px 850px 300px;

        
           }  
          
            
       }  