// Mapa Navbar 

$navbar:(  
    bg-navbar: #B7CADB, 
    color-letras: #035397, 
    padding-left: 40px, 
    tamaño-titulo: 40px, 
    margin-lista: 10px, 
    list-style-lista: none, 
    tamaño-lista: 23px, 
    padding-left-lista: 80px,



);